In [30]:
import pandas as pd
import numpy as np
import tweepy

In [31]:
BEARER_TOKEN = "AAAAAAAAAAAAAAAAAAAAAEkYWAEAAAAAiCZ95QEqxNKuluivi0dNKwu%2BUIA%3DpXPhzD5xrJFlCx6roDUnzjJ6jtuh8wr2AyPhfZls4g4Yo4kH8y"
client = tweepy.Client(bearer_token=BEARER_TOKEN)

In [32]:
# query = 'context:65.903303816698671104 lang:id' # Wellness & Health
# query = 'context:65.1256236649253449729 lang:id' # Fashion & beauty
# query = 'context:66.839160129752686593 lang:id' # Travel
# query = 'context:152.825047692124442624 lang:id' # Food
query = '(context:152.825047692124442624 OR context:66.839160129752686593 OR context:65.1256236649253449729 OR context:65.903303816698671104) lang:id' # Mixed

In [33]:
tweets_data = []
tweets_user = []

for response in tweepy.Paginator(client.search_recent_tweets,
                                query=query,
                                tweet_fields = ["created_at", "text", "author_id", "entities", "in_reply_to_user_id", "context_annotations"],
                                user_fields = ["username"],
                                max_results = 100,
                                expansions='author_id', limit=100):
  
    tweets_data += response.data
    tweets_user += response.includes["users"]

In [34]:
tweets_data_df = pd.DataFrame(tweets_data)
tweets_user_df = pd.DataFrame(tweets_user)

In [35]:
tweets_data_df.head()

,author_id,context_annotations,created_at,entities,id,in_reply_to_user_id,text
0,911714193828610048,"[{'domain': {'id': '65', 'name': 'Interests an...",2022-07-03 19:01:38+00:00,"{'urls': [{'start': 30, 'end': 53, 'url': 'htt...",1543671325889380354,NaN,RT @Azorukonn: Meditating uwu https://t.co/sOw...
1,978882263780937728,"[{'domain': {'id': '65', 'name': 'Interests an...",2022-07-03 19:01:24+00:00,"{'mentions': [{'start': 0, 'end': 15, 'usernam...",1543671264694308864,9.788823e+17,@ohmybeautybank penting bgt buat nata lagi soa...
2,781615938583924736,"[{'domain': {'id': '45', 'name': 'Brand Vertic...",2022-07-03 19:01:21+00:00,"{'urls': [{'start': 30, 'end': 53, 'url': 'htt...",1543671253512364036,NaN,RT @ryosuketarou: USJ√óJUJUTSU https://t.co/W01...
3,2603170970,"[{'domain': {'id': '46', 'name': 'Brand Catego...",2022-07-03 19:01:10+00:00,"{'urls': [{'start': 130, 'end': 153, 'url': 'h...",1543671205642833922,NaN,[ TikTok #dystonia ]\n\n#duet with @\dr.jmack ...
4,1531315317687078912,"[{'domain': {'id': '46', 'name': 'Brand Catego...",2022-07-03 19:01:01+00:00,NaN,1543671171342008320,NaN,Maaf kalau ur parfum masih dior sauvage minggi...

In [36]:
tweets_user_df.head()

                    id                  name     username
0   911714193828610048                üéêAzo‚òÅÔ∏è    Azorukonn
1   978882263780937728  Cherry up, Ki bok! üçí     timtempe
2   781615938583924736                   lin  eraeshkigal
3           2603170970              dystobot     dystobot
4  1531315317687078912             England üç≠  englandwine

In [37]:
tweets_df = tweets_user_df.rename(columns={"id": "author_id"})
# tweets_df.pop("withheld")
tweets_df = tweets_df.drop_duplicates()
df = tweets_data_df.merge(tweets_df, left_on='author_id', right_on='author_id')
df.to_csv("tweets-04-07.csv")

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9916 entries, 0 to 9915
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   author_id            9916 non-null   int64
 1   context_annotations  9916 non-null   object
 2   created_at           9916 non-null   datetime64[ns, UTC]
 3   entities             9230 non-null   object
 4   id                   9916 non-null   int64
 5   in_reply_to_user_id  2347 non-null   float64
 6   text                 9916 non-null   object
 7   name                 9916 non-null   object
 8   username             9916 non-null   object
dtypes: datetime64[ns, UTC](1), float64(1), int64(2), object(5)
memory usage: 774.7+ KB

In [39]:
for i in df["context_annotations"][4]:
  print(i["entity"]["name"])

Online Site
Services
TikTok
TikTok
Wellness and health
Mental health
Social media