In [1]:
import pandas as pd
import numpy as np
import tweepy

In [2]:
BEARER_TOKEN = "AAAAAAAAAAAAAAAAAAAAAEkYWAEAAAAAiCZ95QEqxNKuluivi0dNKwu%2BUIA%3DpXPhzD5xrJFlCx6roDUnzjJ6jtuh8wr2AyPhfZls4g4Yo4kH8y"
client = tweepy.Client(bearer_token=BEARER_TOKEN)

In [3]:
# query = 'context:65.903303816698671104 lang:id' # Wellness & Health
# query = 'context:65.1256236649253449729 lang:id' # Fashion & beauty
# query = 'context:66.839160129752686593 lang:id' # Travel
# query = 'context:152.825047692124442624 lang:id' # Food
query = '(context:152.825047692124442624 OR context:66.839160129752686593 OR context:65.1256236649253449729 OR context:65.903303816698671104) lang:id' # Mixed

In [4]:
tweets_data = []
tweets_user = []

for response in tweepy.Paginator(client.search_recent_tweets,
                                query=query,
                                tweet_fields = ["created_at", "text", "author_id", "entities", "in_reply_to_user_id"],
                                user_fields = ["username"],
                                max_results = 100,
                                expansions='author_id', limit=51):
  
    tweets_data += response.data
    tweets_user += response.includes["users"]

In [5]:
tweets_data_df = pd.DataFrame(tweets_data)
tweets_user_df = pd.DataFrame(tweets_user)

In [6]:
tweets_data_df.head()

,author_id,created_at,entities,id,in_reply_to_user_id,text
0,445348047,2022-06-02 01:30:05+00:00,"{'mentions': [{'start': 3, 'end': 15, 'usernam...",1532172668199661568,NaN,RT @reviewbylia: ‚ú® GIVEAWAY ALERT ‚ú®\n\nYuk yg ...
1,1009394937341677568,2022-06-02 01:30:04+00:00,"{'urls': [{'start': 95, 'end': 118, 'url': 'ht...",1532172664865181696,8.560310e+17,"@OOTDFESS dari os ini nder, cek di etalasenya ..."
2,802021237631262720,2022-06-02 01:30:01+00:00,"{'mentions': [{'start': 0, 'end': 8, 'username...",1532172653988982785,1.314975e+18,@convomf Wisudanya pake sneakers
3,1325839661239947264,2022-06-02 01:29:58+00:00,NaN,1532172640286216192,NaN,Ya Allah pengen smart watch ü•∫
4,1441565744228040709,2022-06-02 01:29:53+00:00,"{'mentions': [{'start': 3, 'end': 15, 'usernam...",1532172620564951040,NaN,RT @dinaaghnias: Badanku di kasur. Tapi pikira...

In [7]:
tweets_user_df.head()

                    id               name        username
0            445348047              naaa‚ô•       anadhewie
1  1009394937341677568              mip‚òÅÔ∏è   arabtapigenah
2   802021237631262720                 sa      kinedrjoyy
3  1325839661239947264           cantik ü¶ã  winbeforeeid02
4  1441565744228040709  ‚ú®‚ú®Spill shopee ‚ú®‚ú®     ingsungraph

In [8]:
tweets_df = tweets_user_df.rename(columns={"id": "author_id"})
# tweets_df.pop("withheld")
tweets_df = tweets_df.drop_duplicates()
df = tweets_data_df.merge(tweets_df, left_on='author_id', right_on='author_id')
df.to_csv("mixedsmall.csv")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5069 entries, 0 to 5068
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   author_id            5069 non-null   int64
 1   created_at           5069 non-null   datetime64[ns, UTC]
 2   entities             4399 non-null   object
 3   id                   5069 non-null   int64
 4   in_reply_to_user_id  1193 non-null   float64
 5   text                 5069 non-null   object
 6   name                 5069 non-null   object
 7   username             5069 non-null   object
dtypes: datetime64[ns, UTC](1), float64(1), int64(2), object(4)
memory usage: 356.4+ KB

In [12]:
df.head()

,author_id,created_at,entities,id,in_reply_to_user_id,text,name,username
0,445348047,2022-06-02 01:30:05+00:00,"{'mentions': [{'start': 3, 'end': 15, 'usernam...",1532172668199661568,NaN,RT @reviewbylia: ‚ú® GIVEAWAY ALERT ‚ú®\n\nYuk yg ...,naaa‚ô•,anadhewie
1,1009394937341677568,2022-06-02 01:30:04+00:00,"{'urls': [{'start': 95, 'end': 118, 'url': 'ht...",1532172664865181696,8.560310e+17,"@OOTDFESS dari os ini nder, cek di etalasenya ...",mip‚òÅÔ∏è,arabtapigenah
2,1009394937341677568,2022-06-02 00:56:49+00:00,"{'urls': [{'start': 28, 'end': 51, 'url': 'htt...",1532164296293371904,1.427082e+18,@akungabutt00 ini kaa &lt;3 https://t.co/Sjofo...,mip‚òÅÔ∏è,arabtapigenah
3,1009394937341677568,2022-06-01 16:32:26+00:00,"{'mentions': [{'start': 0, 'end': 9, 'username...",1532037364981596161,8.560310e+17,@OOTDFESS gini nderr kalo aku https://t.co/KjM...,mip‚òÅÔ∏è,arabtapigenah
4,802021237631262720,2022-06-02 01:30:01+00:00,"{'mentions': [{'start': 0, 'end': 8, 'username...",1532172653988982785,1.314975e+18,@convomf Wisudanya pake sneakers,sa,kinedrjoyy